<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
  </head>
  <body ng-app="myApp">
    <header>
      <div class="appbar">
        <div class="logo">Fin & Flavors</div>
        <div class="search-container">
          <input
            type="text"
            class="search-input"
            placeholder="Search Menu ..."
          />
          <div class="search-icon">
            <img src="image/search.png" alt="search" />
          </div>
        </div>
        <ul class="nav-menu">
          <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
          <li class="nav-item"><a href="#" class="nav-link">ABOUT US</a></li>
          <li class="nav-item"><a href="#" class="nav-link">PROCESS</a></li>
          <li  class="nav-item"><a class="nav-link" href="site.html">BOOK</a></li>
        </ul>
      </div>
    </header>

    <div class="fishAndChip">
      <div class="text-container">
        <div class="titletext">
          The Best <span class="fish">Fish</span> &
          <span class="chips">Chips</span> in the town
        </div>
        <div class="text">
          Indulge in the symphony of crispiness and tenderness as golden-brown
          fish dances with perfectly seasoned chips. A seaside symphony for your
          taste buds, where every bite is a harmony of flavor, making each
          moment a savory celebration.
        </div>
        <div class="order-button-container">
          <button class="order-button" href="site.html">Order Now</button>
        </div>
      </div>
      <img src="image/fish.jpg" alt="fishAndChip" />
    </div>

    <div class="titlemid">Deliver your tasty and fresh food now</div>
    <div class="middle">
      <div class="caption-container">
        <img src="image/appetizer.webp" alt="appetizer" />
        <div class="caption1">Appetizer</div>
      </div>

      <div class="caption-container">
        <img src="image/mainCourse.jpg" alt="mainCourse" />
        <div class="caption2">Main Course</div>
      </div>

      <div class="caption-container">
        <img src="image/dessert.jpg" alt="dessert" />
        <div class="caption3">Dessert</div>
      </div>
    </div>
 
    <div class="Appetizer">
    <div class="kotakmetode">
    
      <span class="helper"></span>
      <div>
        <div class="popupCloseButton">×</div>

        
        <div class="titleMenu"> <span class="caption1" >&nbsp; &nbsp;  Appetizer</span> <span class="caption2" >&nbsp; &nbsp;  Main Course</span> <span class="caption3" >&nbsp; &nbsp;  Dessert</span></div>

        <div class="Menu">
          <img src="image/Maple sriracha.jpg" alt="maple sriracha">
          <span>Maple Sriracha <br><br> 1.99$<br><br>     <p><input type="number" ng-model="inputnum1" ng-init="Harga1=1.99; inputnum1=0" min="0"></p></span>
          <img src="image/Prawn cocktail.jpg" alt="prawn cocktail">
          <span>Prawn Cocktail <br><br> 2.99$ <br><br>     <p><input type="number" ng-model="inputnum2" ng-init="Harga2=2.99; inputnum2=0" min="0"></p></span></span>
          <img src="image/Sausage roll.jpg" alt="Sausage roll">  
          <span>Sausage Roll <br><br> 2.49$ <br><br>     <p><input type="number" ng-model="inputnum3" ng-init="Harga3=2.49; inputnum3=0" min="0"></p></span></span>
          <img src="image/yorkshire-puddings-500x375.jpg" alt="yorkshire-puddings">
          <span>Yorkshire Puddings <br><br> 3.49$ <br><br>     <p><input type="number" ng-model="inputnum4" ng-init="Harga4=3.49; inputnum4=0" min="0"></p></span></span>
        </div>

        <p class="jumlah">Total Appetizer : {{ (Harga1 * inputnum1)+(Harga2 * inputnum2)+(Harga3 * inputnum3)+(Harga4 *inputnum4) | number:2 }} $</p>
        <div>
          <p class="metode1">Payment Method</p>
          <div class="payment-box">
            <div>
              <div class="payment-popupCloseButton">×</div>
              <p class="jumlah">Total amount to be paid : {{ (Harga1 * inputnum1)+(Harga2 * inputnum2)+(Harga3 * inputnum3)+(Harga4 *inputnum4)+(Harga5 * inputnum5)+(Harga6 * inputnum6)+(Harga7 * inputnum7)+(Harga8 *inputnum8)+(Harga9 * inputnum9)+(Harga10 * inputnum10)+(Harga11 * inputnum11)+(Harga12 *inputnum12) | number:2 }} $</p>
              <select class="option" name="method" id="method" ng-model="data.select">
                <option value="">Select One</option>
                <option value="Gopay">Gopay</option>
                <option value="OVO">OVO</option>
                <option value="ShopeePay">ShopeePay</option>
                <option value="DANA">DANA</option>
                <option value="BCA">BCA</option>
              </select>
              <div class="payment-button">Pay</div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div id="payment-overlay" class="payment-overlay">
            <div class="paymentsuccess-box">
              <p class="payment-success">Payment succeeded</p>
              <div class="payment-finish">Done</div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="mainCourse">
    <div class="kotakmetode2">
      <span class="helper"></span>
      <div>
        <div class="popupCloseButton">×</div>

        
        <div class="titleMenu"> <span class="caption1" >&nbsp; &nbsp;  Appetizer</span> <span class="caption2" >&nbsp; &nbsp;  Main Course</span> <span class="caption3" >&nbsp; &nbsp;  Dessert</span></div>

        <div class="Menu">
          <img src="image/fish.jpg" alt="fishAndChip">
          <span>Fish and Chips <br><br> 10.99$<br><br>     <p><input type="number" ng-model="inputnum5" ng-init="Harga5=10.99; inputnum5=0" min="0"></p></span>
          <img src="image/Roasted ham.jpg" alt="Roasted ham">
          <span>Roasted Ham <br><br> 12.99$ <br><br>     <p><input type="number" ng-model="inputnum6" ng-init="Harga6=12.99; inputnum6=0" min="0"></p></span></span>
          <img src="image/Sausage mash.jpg" alt="Sausage mash">  
          <span>Sausage Mash <br><br> 5.49$ <br><br>     <p><input type="number" ng-model="inputnum7" ng-init="Harga7=5.49; inputnum7=0" min="0"></p></span></span>
          <img src="image/citrus baked salmon.jpg" alt="citrus baked salmon">
          <span>Citrus baked salmon <br><br> 8.99$ <br><br>     <p><input type="number" ng-model="inputnum8" ng-init="Harga8=8.99; inputnum8=0" min="0"></p></span></span>
        </div>

        <p class="jumlah">Total Main Course : {{ (Harga5 * inputnum5)+(Harga6 * inputnum6)+(Harga7 * inputnum7)+(Harga8 *inputnum8) | number:2 }} $</p>
        <div>
          <p class="metode2">Payment Method</p>
          <div class="payment-box">
            <div>
              <div class="payment-popupCloseButton">×</div>
              <p class="jumlah">Total amount to be paid : {{ (Harga1 * inputnum1)+(Harga2 * inputnum2)+(Harga3 * inputnum3)+(Harga4 *inputnum4)+(Harga5 * inputnum5)+(Harga6 * inputnum6)+(Harga7 * inputnum7)+(Harga8 *inputnum8)+(Harga9 * inputnum9)+(Harga10 * inputnum10)+(Harga11 * inputnum11)+(Harga12 *inputnum12) | number:2 }} $</p>
              <select class="option" name="method" id="method" ng-model="data.select">
                <option value="">Select One</option>
                <option value="Gopay">Gopay</option>
                <option value="OVO">OVO</option>
                <option value="ShopeePay">ShopeePay</option>
                <option value="DANA">DANA</option>
                <option value="BCA">BCA</option>
              </select>
              <div class="payment-button">Pay</div>
                </div>
              </div>
            </div>
          </div>
        </div>

          
          <div id="payment-overlay" class="payment-overlay">
            <div class="paymentsuccess-box">
              <p class="payment-success">Payment succeeded</p>
              <div class="payment-finish">Done</div>
            </div>
          </div>
          
      </div>
    </div>
  </div>

  <div class="Dessert">
    <div class="kotakmetode3">
      <span class="helper"></span>
      <div>
        <div class="popupCloseButton">×</div>
        <div class="titleMenu"> <span class="caption1" >&nbsp; &nbsp;  Appetizer</span> <span class="caption2" >&nbsp; &nbsp;  Main Course</span> <span class="caption3" >&nbsp; &nbsp;  Dessert</span></div>

        <div class="Menu">
          <img src="image/chocolateSponge.webp" alt="chocolateSponge">
          <span>Chocolate Sponge <br><br> 4.99$<br><br>     <p><input type="number" ng-model="inputnum9" ng-init="Harga9=4.99; inputnum9=0" min="0"></p></span>
          <img src="image/Walnut-Mincemeat-Pie_EXPS_FT19_1708_F_1018_1.jpg" alt="pie">
          <span>Mincemeat Pie <br><br> 2.99$ <br><br>     <p><input type="number" ng-model="inputnum10" ng-init="Harga10=2.99; inputnum10=0" min="0"></p></span></span>
          <img src="image/Battenberg-Cake.TOH_.Nancy-Mock-12-ADedit-v2.jpg" alt="Battenberg-Cake">  
          <span>Battenberg-Cake <br><br> 7.99$ <br><br>     <p><input type="number" ng-model="inputnum11" ng-init="Harga11=7.99; inputnum11=0" min="0"></p></span></span>
          <img src="image/Swiss roll.webp" alt="swiss roll">
          <span>Swiss Roll <br><br> 5.99$ <br><br>     <p><input type="number" ng-model="inputnum12" ng-init="Harga12=5.99; inputnum12=0" min="0"></p></span></span>
        </div>

        <p class="jumlah">Total Dessert : {{ (Harga9 * inputnum9)+(Harga10 * inputnum10)+(Harga11 * inputnum11)+(Harga12 *inputnum12) | number:2 }} $</p>
        <div>
        <p class="metode3">Payment Method</p>
        <div class="payment-box">
          <div>
            <div class="payment-popupCloseButton">×</div>
            <p class="jumlah">Total amount to be paid : {{ (Harga1 * inputnum1)+(Harga2 * inputnum2)+(Harga3 * inputnum3)+(Harga4 *inputnum4)+(Harga5 * inputnum5)+(Harga6 * inputnum6)+(Harga7 * inputnum7)+(Harga8 *inputnum8)+(Harga9 * inputnum9)+(Harga10 * inputnum10)+(Harga11 * inputnum11)+(Harga12 *inputnum12) | number:2 }} $</p>
            <select class="option" name="method" id="method" ng-model="data.select">
              <option value="">Select One</option>
              <option value="Gopay">Gopay</option>
              <option value="OVO">OVO</option>
              <option value="ShopeePay">ShopeePay</option>
              <option value="DANA">DANA</option>
              <option value="BCA">BCA</option>
            </select>
            <div class="payment-button">Pay</div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div id="payment-overlay" class="payment-overlay">
          <div class="paymentsuccess-box">
            <p class="payment-success">Payment succeeded</p>
            <div class="payment-finish">Done</div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="bottom">
      
      <img src="image/restaurant.avif" alt="restaurant" />
    <div class="textbottom">
      <div class="bottomtitle">Amazing outdoor view</div>
      <p class="bottom-text">
        Savor the seaside magic at Fin & Flavors, where our exquisite fish and
        chips meet the soothing rhythm of ocean waves. An unforgettable culinary
        escape awaits, where every bite is a celebration of crispiness,
        tenderness, and beachside bliss.
      </p>
      <div class="actions">
        <a href="https://en.wikipedia.org/wiki/London">Location &#x2192</a>
      </div>
    </div>

    </div>

    <footer class="footer" id="footer">
      <div class="links">
        <a href="#home">Home</a>
        <a href="#Location">Location</a>
        <a href="#footer">Contact</a>
      </div>
      <div class="credit">
        <p>Contact : <a href=>08812346372</a></p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
       

        var app = angular.module('myApp', []);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="tes.js"></script>
  </body>
</html>
